<div class="main">
<div class="content">
 <h1 class="heading">Swift by Example</h1>
 
 <div class="intro">
 <a href="https://en.wikipedia.org/wiki/Swift_(programming_language)"> <i>Swift </i></a>is an open-source programming language developed by Apple Inc. It is designed to be simple, expressive, and safe while providing modern features for building software across various platforms, including iOS, macOS, watchOS, and tvOS.
 <br>
 <br>
<a href="https://developer.apple.com/documentation/swift"> <i>Official Documentation. </i> </a> 
<br>
<br>
Swift by Example is a hands-on introduction to Swift using annotated example programs. Check out the full list below.
 </div>
 <div class="topics">
 <br>
    <a href="#">Hello World</a><br>
<a href="#">Variables and Constants</a><br>
<a href="#">Data Types</a><br>
<a href="#">Optionals</a><br>
<a href="#">Control Flow </a><br>
<a href="#">Collections </a><br>
<a href="#">Functions</a><br>
<a href="#">Closures</a><br>
<a href="#">Enumerations</a><br>
<a href="#">Structures</a><br>
<a href="#">Classes</a><br>
<a href="#">Inheritance</a><br>
<a href="#">Protocols and Protocol Extensions</a><br>
<a href="#">Generics</a><br>
<a href="#">Error Handling </a><br>
<a href="#">Type Casting</a><br>
<a href="#">Extensions</a><br>
<a href="#">Access Control </a><br>
<a href="#">Property Observers</a><br>
<a href="#">Computed Properties</a><br>
<a href="#">Lazy Properties</a><br>
<a href="#">Initializers </a><br>
<a href="#">Memory Management </a><br>
<a href="#">Subscripts</a><br>
<a href="#">Type Aliases</a><br>
<a href="#">Deinitialization</a><br>
<a href="#">Advanced Operators</a><br>
<a href="#">Patterns </a><br>
<a href="#">Tuples</a><br>
<a href="#">Advanced Control Flow </a><br>
<a href="#">Error Handling Patterns</a><br>
<a href="#">Asynchronous Programming </a><br>
<a href="#">Concurrency</a><br>
<a href="#">Codable </a><br>
<a href="#">File Handling </a><br>
<a href="#">Networking </a><br>
<a href="#">Date and Time</a><br>
<a href="#">Regular Expressions</a><br>
<a href="#">Localization and Internationalization</a><br>
<a href="#">Unit Testing</a><br>
<a href="#">Debugging</a><br>
<a href="#">Debugging with LLDB</a><br>
<a href="#">Xcode IDE Features and Tips</a><br>
<a href="#">Interface Builder </a><br>
<a href="#">Core Data </a><br>
<a href="#">SwiftUI </a><br>
<a href="#">Combine Framework</a><br>
<a href="#">Swift Package Manager</a><br>
<a href="#">Interoperability with Objective-C</a><br>
<a href="#">Memory Profiling and Optimization</a><br>
 </div>
 <br>
 <br>
 <div class="footer">
    by Sumit Banwakade || Source
 </div>
 <br>
 <br>
</div>
</div>